<% layout('layout') -%>
<div class="jumbotron">
        <h1 class="display-7">Your latest checkout: </h1>
        <table class="table table-sm" style="display: inline;">
            <% if (checkout.length == 0) {%>
                <p>You don't have any checkouts yet</p>
            <% } else { %>
                <thead>
                    <tr>
                    <th>#</th>
                    <th><%= checkout.title %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Bill Id</td>
                    <td><%= checkout.bill_id %></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Description</td>
                    <td><%= checkout.description %></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Date</td>
                    <td><%= checkout.date.toDateString() %></td>
                    </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td>Location</td>
                    <td style="width:200px">
                        <a href="https://www.google.com/maps/place/Starbucks+Coffee/@17.4506728,78.3786222,13z/data=!4m8!1m2!2m1!1sstarbucks+near+Hyderabad,+Telangana,+India!3m4!1s0x0:0xd0691d7fbe930877!8m2!3d17.484271!4d78.3892322?hl=en">
                            <%= checkout.location %>
                        </a>                
                    </td>
                    </tr>
                    <tr>
                    <th scope="row">5</th>
                    <td>Tax</td>
                    <td><%= checkout.total_tax %></td>
                    </tr>
                    <th scope="row">6</th>
                    <td>Total</td>
                    <td><%= checkout.total %></td>
                    </tr>
                </tbody>
            <% } %>
            </table>
            <p class="lead">
                <p class="ck-btn"><a class="btn btn-success" href="/checkout-new" role="button">Checkout</a></p>
                <p class="ck-btn"><a class="btn btn-secondary" href="/checkout-history" role="button">History</a></p>
            </p>
           </div>

