<% layout('layout') -%>
<% if (checkouts.length === 0) { %>
    <div class="row">
        <p>You don&#39;t have any checkouts yet</p>
    </div>
<% } else { %>
<div class="list-group">
    <% for(var i = 0; i < checkouts.length; i++) {%>
        <a href="/checkout/<%= checkouts[i]._id %>" id="<%= checkouts[i]._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 capitalize"><%= checkouts[i].title %></h5>
            <small><%= checkouts[i].date %></small>
            </div>
            <p class="mb-1"><%= checkouts[i].bill_id %></p>
            <small>$<%= checkouts[i].total %></small>
        </a>
    <% } %>
</div>
<% } %>